[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[requires]
python_version = "3.5"

[packages]
django = "*"
"django-bootstrap3" = "*"
python-dateutil = "*"
python-telegram-bot = "*"
"django-bootstrap4" = "*"

[dev-packages]
