{% load staticfiles %}

<!-- Amin Husni - 2018 -->
<head>
		<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<title>Husky</title>
				<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
					<link rel="stylesheet" href="{% static 'css/old.css' %}">
					</head>
<body style="background:url( {% static 'img/bg.jpg' %} );background-size:120%;font-family:Verdana;">
    <table style="width:100%;text-align:center;font-weight:bold;color:#fff;table-layout: fixed">

        <tr class="first">
            <td colspan="5"><h1 style="font-size:60px;margin-top:100px;padding-bottom:50px;">Good Day<br />Please rate our toilet</h1></td>
		</tr>
		<form action="{% url 'feedback:rating_submit' %}", method="post">
				{% csrf_token %}
        <tr class="first" style="font-size:30px;">
				<td><button name="rating" value="5" type="submit" style="background:transparent;border: 0px solid #4992B7"><img class="vote" rel="5" src="{% static 'img/excellent.png' %}" /><br /><font color="white">Excellent</font></button></td>
				<td><button name="rating" value="4" type="submit" style="background:transparent;border: 0px solid #4992B7"><img class="vote" rel="4" src="{% static 'img/good.png' %}" /><br /><font color="white">Good</font></button></td>
				<td><button name="rating" value="3" type="submit" style="background:transparent;border: 0px solid #4992B7"><img class="vote" rel="3" src="{% static 'img/average.png' %}" /><br /><font color="white">Average</font></button></td>
				<td><button name="rating" value="2" type="submit" style="background:transparent;border: 0px solid #4992B7"><img class="vote" rel="2" src="{% static 'img/poor.png' %}" /><br /><font color="white">Poor</font></button></td>
				<td><button name="rating" value="1" type="submit" style="background:transparent;border: 0px solid #4992B7"><img class="vote" rel="1" src="{% static 'img/sad.png' %}" /><br /><font color="white">Sad</font></button></td>
		</tr>
	</form>
        <tr class="first">
            <td colspan="5"><br /><br /><br /><br /><br /><br /><span style="display:block;font-size:20px;">This screen is sanitised regularly</span></td>
        </tr>
</table>
</body>

<!-- <!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<title>Husky</title>
				<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
					<link rel="stylesheet" href="{% static 'css/old.css' %}">
					</head>
					<body style="overflow:hidden;">
						<div class="row">
							<div class="col">
								<h1 class="text-center" style="height:256px;font-size:100px;padding:182px;">Please Give Us Your Feedback</h1>
							</div>
						</div>
						<div class="row justify-content-center" style="margin-top:100px;">

                        <form action="{% url 'feedback:rating_submit' %}", method="post">
                                {% csrf_token %}
							<button name="rating" value="5" class="btn btn-primary btn-lg" type="submit" style="margin-right:0px;height:250px;width:250px;box-shadow:none;background-color:rgb(43,201,79);border-color:white;">😄</button>
							<button name="rating" value="4" class="btn btn-primary btn-lg" type="submit" style="margin-right:0px;height:250px;width:250px;box-shadow:none;background-color:rgb(24,163,2);border-color:white;">😊</button>
							<button
            name="rating" value="3" class="btn btn-primary btn-lg" type="submit" style="margin-right:0px;height:250px;width:250px;box-shadow:none;border-color:white;">😑</button>
							<button name="rating" value="2" class="btn btn-primary btn-lg" type="submit" style="margin-right:0px;height:250px;width:250px;outline:none;background-color:rgb(239,244,26);box-shadow:none;border-color:white;color:rgb(0,0,0);">😕</button>
							<button name="rating" value="1" class="btn btn-primary btn-lg"
                type="submit" style="margin-right:0px;height:250px;width:250px;background-color:rgb(195,31,20);box-shadow:none;border-color:white;">☹️</button>
                    </form>
            
                        </div>
						<div class="row">
							<div class="col align-self-center">
								<p class="text-center" style="margin-right:0px;margin-left:730px;font-size:29px;">NOTIFICATION WILL BE SENT</p>
							</div>
						</div>
						<div></div>
						<div class="clearfix"></div>
						<script src="{% static 'js/jquery.min.js' %}"></script>
						<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
					</body>
				</html>


 -->
