{% load staticfiles %}

<!-- Amin Husni - 2018 -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Husky_Feedbacklist</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <style>

            .nopad {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
            /*image gallery*/
            .image-checkbox {
                cursor: pointer;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                border: 4px solid transparent;
                margin-bottom: 0;
                outline: 0;
            }
            .image-checkbox input[type="checkbox"] {
                display: none;
            }
            
            .image-checkbox-checked {
                border-color: rgb(8, 243, 0);
            }
            .image-checkbox .fa {
              position: absolute;
              color: #4A79A3;
              background-color: #fff;
              padding: 10px;
              top: 0;
              right: 0;
            }
            .image-checkbox-checked .fa {
              display: block !important;
            }
                
    </style>

    

</head>

<body style="background:url( {% static 'img/bg.jpg' %} );background-size:120%;font-family:Verdana;">
    <div class="row">
    <span class="second" style="font-size:30px;margin-top:0;padding:20px;float:left;"><font color="white">Select 1 or more and SUBMIT</font></span>
</div>
    <form action="{% url 'feedback:problem_submit' %}", method="post">
            {% csrf_token %}
            <input type='hidden' name='feedback_id' value='{{ feedback_id }}' /> 
    <div class="row justify-content-center" style="margin-top:0px;">
            <label class="image-checkbox" style="margin-right:100px;margin-bottom:20px">
                <img class="img-responsive" src="{% static 'img/others.png' %}" /><font color="white"><br>&nbsp;&nbsp;&nbsp;Previous User's Fault</font>
                <input type="checkbox" name="fault" value="True" style="margin-right:2px;height:250px;width:250px; "/>
                <i class="fa fa-check hidden"></i>
            </label>
            <label class="image-checkbox" style="margin-right:100px;margin-bottom:20px">
                
                <img class="img-responsive" src="{% static 'img/choked.png' %}" />
                <figcaption><font color="white" style="display:inline-block; text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;Toilet Bowl Clogged</font></figcaption>
            
                <input type="checkbox" name="clogged" value="True" style="margin-right:2px;height:250px;width:250px; "/>
                <i class="fa fa-check hidden"></i>
            </label>
            <label class="image-checkbox" style="margin-right:100px;margin-bottom:20px" >
                <img class="img-responsive" src="{% static 'img/no-toilet-paper.png' %}" /><figcaption><font color="white" style="display:inline-block; text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No Toilet Paper</font></figcaption>
                <input type="checkbox" name="toilet_paper" value="True" style="margin-right:2px;height:250px;width:250px; "/>
                <i class="fa fa-check hidden"></i>
            </label>
            <label class="image-checkbox" style="margin-right:100px;margin-bottom:20px">
                <img class="img-responsive" src="{% static 'img/faulty-lighting.png' %}" /><figcaption><font color="white" style="display:inline-block; text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lighting</font></figcaption>
                <input type="checkbox" name="lighting" value="True" style="margin-right:2px;height:250px;width:250px; "/>
                <i class="fa fa-check hidden"></i>
            </label>
            <label class="image-checkbox" >
                <img class="img-responsive" src="{% static 'img/soap-dispencer-faulty.png' %}" /><figcaption><font color="white" style="display:inline-block; text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Soap</font></figcaption>
                <input type="checkbox" name="soap" value="True" style="margin-right:2px;height:250px;width:250px; "/>
                <i class="fa fa-check hidden"></i>
            </label>
        </div>
        <div class="row justify-content-center" style="margin-top:1px;">
            <label class="image-checkbox" style="margin-right:100px;margin-bottom:20px">
                <img class="img-responsive" src="{% static 'img/flexible-hose-detached.png' %}" /><figcaption><font color="white" style="display:inline-block; text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hose</font></figcaption>
                <input type="checkbox" name="hose" value="True" style="margin-right:2px;height:250px;width:250px; "/>
                <i class="fa fa-check hidden"></i>
            </label>
            <label class="image-checkbox" style="margin-right:100px;margin-bottom:20px">
                <img class="img-responsive" src="{% static 'img/toilet-temperature.png' %}" /><figcaption><font color="white" style="display:inline-block; text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Temperature</font></figcaption>
                <input type="checkbox" name="temperature" value="True" style="margin-right:2px;height:250px;width:250px; "/>
                <i class="fa fa-check hidden"></i>
            </label>
            <label class="image-checkbox" style="margin-right:100px;margin-bottom:20px" >
                <img class="img-responsive" src="{% static 'img/loose.png' %}" /><figcaption><font color="white" style="display:inline-block; text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seat Cover</font></figcaption>
                <input type="checkbox" name="bowl" value="True" style="margin-right:2px;height:250px;width:250px; "/>
                <i class="fa fa-check hidden"></i>
            </label>
            <label class="image-checkbox" style="margin-right:100px;margin-bottom:20px">
                <img class="img-responsive" src="{% static 'img/basin-tap.png' %}" /><figcaption><font color="white" style="display:inline-block; text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tap Faulty</font></figcaption>
                <input type="checkbox" name="sink" value="True" style="margin-right:2px;height:250px;width:250px; "/>
                <i class="fa fa-check hidden"></i>
            </label>
            <label class="image-checkbox" >
                <img class="img-responsive" src="{% static 'img/foul-smell.png' %}" /><figcaption><font color="white" style="display:inline-block; text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Foul Smell</font></figcaption>
                <input type="checkbox" name="smell" value="True" style="margin-right:2px;height:250px;width:250px; "/>
                <i class="fa fa-check hidden"></i>
            </label>
        </div>
        <div class="row justify-content-center" style="margin-top:0px;">
            <button class="btn btn-primary btn-lg" type="submit" value="SUBMIT" style="margin-right:2px;height:89px;width:245px;box-shadow:none;background-color:transparent;border-color:transparent;margin-top:0px;"><img style="margin-right:20px;cursor:pointer;width:200px;"  src="{% static 'img/submit.png' %}" />
            </button>
        </div>
        


    </form>
        
        
        <script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

            <script>
                    // image gallery
                    // init the state from the input
                    $(".image-checkbox").each(function () {
                      if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
                        $(this).addClass('image-checkbox-checked');
                      }
                      else {
                        $(this).removeClass('image-checkbox-checked');
                      }
                    });
                    
                    // sync the state to the input
                    $(".image-checkbox").on("click", function (e) {
                      $(this).toggleClass('image-checkbox-checked');
                      var $checkbox = $(this).find('input[type="checkbox"]');
                      $checkbox.prop("checked",!$checkbox.prop("checked"))
                    
                      e.preventDefault();
                    });
                    
                    </script>




        </body>





